[2017-04-21 15:41] rootasjey opened #22 "Trending Pivot slide gesture"
Hello,
First of all, good work for this app.

It seems that I can't slide horizontally on the trending view to change PivotItem.
For example, from 'today' to 'this week'.

This issue happens when I'm on phone (Lumia 650).
I'll try to look into this issue this weekend.

[2017-04-22 05:07] aalok05 commented on #22
Hey! I actually thought I fixed this one by doing this
`<userControls:RepoListItem ManipulationMode="System" />`
But turns out it is still a problem. Not sure why.

[2017-04-25 08:31] rootasjey commented on #22
It seems that this property (on PullToRefreshListView) is blocking touch manipulations:
`IsPullToRefreshWithMouseEnabled="True"`

I don't know which action you'd like to take:

- Deactivate this option
- Deactivate this option only on mobile devices
- Try to manually handle touch manipulations on PullToRefreshListView

I wonder if this is the PullToRefreshListView's correct behavior or a bug.

[2017-04-25 16:19] aalok05 commented on #22
Thanks for the analysis. I'll try the second option (Deactivate this option only on mobile devices), could you also try it and test it on a mobile device? (I do my testing on an emulator).
It does not seem like the ideal behaviour though.

[2017-04-25 18:56] rootasjey commented on #22
You welcome 😊
Yes, I will be able to test the fix on my device. For now, when the property is deactivated I'm able to slide horizontally to change PivotItem (today, week, month).

[2017-06-03 06:24] aalok05 commented on #22
test

[2017-06-03 06:25] aalok05 commented on #22
test

[2017-06-03 06:36] aalok05 commented on #22
**testing comments in CodeHub**

[2017-06-03 09:08] aalok05 opened #24 "test issue"
this issue was created for testing purposes

[2017-06-03 09:09] #24 closed

[2017-06-09 07:54] aalok05 opened #25 "Strings to Translate"
These English strings need to be translated to **Chinese** ,**German**, **Vietnamese** and **Portuguese**

- Create
- Cancel
- New Issue
- Labels
- Comment
- Body
- Title
- Activity
- Clone
- Share
- Releases
- Released by
- Contributors
- No open Pull Requests
- No closed Pull Requests

[2017-06-09 07:58] aalok05 commented on #22
I'm disabling `IsPullToRefreshWithMouseEnabled` property for now so users will be able to slide horizontally

[2017-06-09 08:38] #22 closed

[2017-06-10 09:57] brullsker commented on #25
Hey! Here you go with the German translation:

Create -> Erstelle
Cancel -> Abbrechen
New Issue -> Neues Problem
Labels -> Labels
Comment ->Kommentieren
Body -> Rumpf
Title -> Titel

Yours, Jakob H.

[2017-06-10 10:16] aalok05 commented on #25
@brullsker Great!

[2017-06-14 07:16] mattleibow opened #26 "Click/tap items in the notifications"
It would be awesome to be able to tap an item, such as an issue comment, in the notifications view. The was I can get there without having to manually go to the repo and then the issues tab.

[2017-06-14 08:14] aalok05 commented on #26
That would be great @mattleibow . I'll figure this out soon.

[2017-06-14 12:51] brullsker opened #27 "UI improvements on Issues page"
I think, taking the pivot header up (as you can see in the attached picture) would look much better.
![2017-14-6--12-42-13](https://user-images.githubusercontent.com/22963301/27132952-e284c6dc-5110-11e7-8bf0-6eeac88b31a8.jpeg)

[2017-06-14 13:29] brullsker opened #28 "Add language selection"
Appearance settings might be the right place for an option like this.

[2017-06-14 13:33] brullsker opened #29 "Its possible to edit new issues while publishing them"
After I tapped on "Create", the "Creating..." text appears, but I'm still able to tap into the text boxes and write into them.
I'll publish a pic of it as soon as possible.
![p4opo_20170614_16_47_19](https://user-images.githubusercontent.com/22963301/27138704-617450e2-5121-11e7-8501-600f00454b33.jpg)
I hope you can get my point by looking on this pic.

[2017-06-14 14:35] brullsker opened #30 "Settings page translation"
The whole settings page needs to be translated. Additional, some parts of the app are not translated yet too.

[2017-06-14 14:55] brullsker commented on #27
And nearly the same thing is moving the "Refresh" button on Notifications page up to the header

[2017-06-14 16:28] aalok05 commented on #27
The pivot header takes the whole row so positioning the New Issue button beside it is gonna be a problem. But I can place it somewhere better so that two rows aren't been used.

[2017-06-14 16:32] aalok05 commented on #28
I think General settings would be appropriate. I will think on implementing this.

[2017-06-14 16:33] aalok05 commented on #29
That's a good catch. Fixing asap!

[2017-06-14 16:38] aalok05 commented on #30
Forgot about the settings page. I'll get on it 👍

[2017-06-15 05:07] aalok05 commented on #29
0303fdf fixes this.

[2017-06-15 05:07] #29 closed

[2017-06-19 05:43] aalok05 commented on #27
3461bc3 fixes this.

[2017-06-19 05:43] #27 closed

[2017-06-19 05:58] aalok05 commented on #26
Notifications do not contain 'payload' field so we can't navigate to specific issue/PR as of now (Octokit.net limitation), but we can navigate to repository -> af0878f
Clicking on New feed Items will navigate us to issue/repo/PR -> 93fa1b3

[2017-06-19 05:59] #26 closed

[2017-06-19 19:22] brullsker commented on #25
Activity -> Aktivität
Clone -> Klonen
Share -> Teilen
Releases -> Veröffentlichungen
Released by -> Veröffentlicht von
Contributors -> Mitarbeiter
No open Pull Requests -> Keine offenen Aufnahmeanträge
No closed Pull Requests -> Keine angenommenen Aufnahmeanträge

Greetings, Jakob H

[2017-06-24 06:32] #25 closed

[2017-06-24 06:32] aalok05 opened #32 "Strings to Translate"
|   |  German | Chinese  | Vietnamese  | Portuguese  |
|---|---|---|---|---|
|Whats New |   |   |   |   |
|Edit Issue  |   |   |   |   |
|Special Thanks  |   |   |   |   |
|What's new in this version?  |   |   |   |   |
|Check for Notifications frequently  |   |   |   |   |
| Turning this on will consume more data |   |   |   |   |
| Mark all as read |   |   |   |   |
| owned | :white_check_mark:

[2017-06-24 06:35] aalok05 commented on #25
@brullsker I've created https://github.com/aalok05/CodeHub/issues/32 for better tracking of which strings have been translated. It'll be easier for translators. 👍

[2017-06-24 08:26] brullsker commented on #32
German: Blur content behind window -> Inhalt hinterm Fenster mit Blur-Effekt anzeigen

[2017-06-27 00:21] MMEnter opened #33 "All should show own repositorys and stared"
Maybe have a 3rd Tap for own.

[2017-06-27 03:34] aalok05 commented on #33
Good point, I should just call the first pivot 'owned'. Then we'll have two pivots 'owned' and 'starred'

[2017-06-27 05:11] aalok05 commented on #33
Did it 424d814bd5d0a2c8821a9d1d14e68c93ac305c49

[2017-06-27 05:11] #33 closed

[2017-06-28 09:21] PoLaKoSz commented on #32
I'm a hungarian beginner developer so if you want I can try to translate the English words to hungarian.

[2017-06-28 10:43] aalok05 commented on #32
Hey @PoLaKoSz
Sure, you can take the Strings/en-US/Resource.resw file and create a new Resource file with all Hungarian strings. You can mail me this file so I can add it in the repo.

[2017-07-01 09:13] Sergio0694 opened #35 "Hamburger menu custom acrylic brush doesn't switch source when in expanded UI"
As seen in the screenshot, the hamburger menu effect should switch from the in-app blur to the background blur when the app UI is in the extended mode, as otherwise there's no in-app content to blur and the whole effect becomes useless.

![image](https://user-images.githubusercontent.com/10199417/27760687-0ebeb04c-5e4e-11e7-8464-e35fbf7ace01.png)

[2017-07-01 09:16] Sergio0694 opened #36 "Hide readme pivot page for empty readme files / private repos"
Right now, opening a repo page for a repo with no readme, or an empty readme file, or a private repo that has a blocked readme, you just get a blank `WebView` that just wastes space.
The whole pivot page should be hidden in these situations to save screen space.

[2017-07-01 16:31] Sergio0694 opened #37 "Add a way to scroll/expand the readme when the screen height is too low"
As shown in the image above, when the screen height is too low (for example on a mobile phone, when in landscape mode), it's really difficult to scroll and read the readme.
Possible solutions:
* Add a button to make the readme temporarily full screen
* Make the readme full size and let the whole page scroll (beware of the height of the content inside the `WebView` that's difficult to manage)
* Add

[2017-07-01 16:33] Sergio0694 opened #38 "Include the option to show/hide the status bar on W10 Mobile"
I already had a branch with that feature designed and working, can't see it anywhere now though.

[2017-07-01 16:37] Sergio0694 opened #39 "Implement UI and include features from feature_pinned_repos_contributions_chart branch"
Right now the [feature_pinned_repos_contributions_chart](/aalok05/CodeHub/tree/feature_pinned_repos_contributions_chart) branch is pending.
Its features are already implemented, it's only missing the UI for pinned repos.
The contributions chart UI is already there too and it only needs some refinements.

[2017-07-01 16:41] Sergio0694 opened #40 "Add UI and merge the debug_using_BigWatson branch"
In order to improve local debugging of the app, there's a branch called [debug_using_BigWatson](/aalok05/CodeHub/tree/debug_using_BigWatson) that's pending.
It's missing a UI/page to show the logged exceptions, other than that it should already be working.

[2017-07-01 17:18] aalok05 commented on #37
The third suggestion seems the best, I'll try to figure out parallax scrolling for this scenario, so that the top part of the page collapses when scrolled down.

[2017-07-01 18:00] aalok05 commented on #38
Hey, I think I lost the code for this, I was having trouble with Windows Mobile extension for UWP so I had to remove this. Do you think feature is that important? I mean for a lot of code it does so little.

[2017-07-01 18:02] Sergio0694 commented on #38
@aalok05 How's it possible the code got lost? Anyways, the code's not so much , it's just a few lines of code actually. I'll add them again in a separate branch when I have some time, I'd actually like to have that feature in the app.

[2017-07-01 18:05] Sergio0694 commented on #37
I guess you could achieve that if you set the upper padding of the WebView to the height of the page header, and then make it so the page header has a non-transparent background that covers the first (empty) part of the `WebView`. Just be advised that working with a `ScrollViewer` inside a `WebPage` control can be difficult as it doesn't work exactly like a standard `ScrollViewer`.

[2017-07-01 18:45] brullsker commented on #32
German:
owned -> Eigene
Save -> Speichern

[2017-07-02 00:31] kumarharsh opened #41 "Add indicator for notifications on the bell"
Right now, there is no indication that there are unread notifications.

[2017-07-02 00:34] kumarharsh opened #42 "The user avatar shape on the "contributors" pane is different."
Its rounded rectangle instead of a circle.

[2017-07-02 00:39] Sergio0694 commented on #42
@aalok05 I guess this is a design choice and not an oversight, but take a look into it just in case

[2017-07-02 00:42] Sergio0694 commented on #41
@aalok05 In order to implement this we'd have to make an additional API request every time the page is loaded again to check if there are new notifications. Since this might impact on the data usage/battery, it might be a good idea to turn it on by default on PCs, and add a setting for it on mobile phones.

[2017-07-02 04:26] aalok05 commented on #41
This is a good one. I was thinking about this. @Sergio0694 we might have to make a setting, for now we'll just go ahead and make a call every time a page is loaded.

[2017-07-02 04:32] aalok05 commented on #42
This is a design choice. User List items throughout the app have rounded rectangles. If I get more feedback in favor of circles, I'll go for circles when UWP community Toolkit comes out with RoundImageEx control in v 1.5

[2017-07-02 04:32] #42 closed

[2017-07-02 04:35] aalok05 commented on #38
@Sergio0694 You can find the code in the history of this repo if you search 'SystemTray'

[2017-07-02 10:01] kumarharsh commented on #42
OK. I see. Although all other places have circles, so I assumed it was an oversight. Plus, many corporate logos get cut-off when circle is used for avatar.

[2017-07-02 10:59] aalok05 commented on #42
@kumarharsh that is true, maybe we'll use rounded rectangles for all avatars in the future.

[2017-07-02 14:10] aalok05 commented on #41
PR is in progress https://github.com/aalok05/CodeHub/tree/feature_unread_notif_indicator

[2017-07-04 15:07] PoLaKoSz opened #44 "Login fail: Can't connect to service"
**When I click the Sign In button here ....**

![login](https://user-images.githubusercontent.com/1327533/27835296-b55cbef6-60da-11e7-91f2-46054c303f37.PNG)

**I get this response:**

![after oauth - copy](https://user-images.githubusercontent.com/1327533/27835035-a4d91102-60d9-11e7-9ad6-0f50deaf8e24.PNG)

I don't know this helpful, but with this exact problem I found this: [uwp-csharp-connect-sam

[2017-07-05 16:56] brullsker commented on #32
Hey @aalok05
I've updated the German resources file. You can find it here: [https://1drv.ms/u/s!Ah_MAaR2jd8u9w_KlUy75oOV0a5u](url)
Greetings, Jakob H

[2017-07-05 22:17] PoLaKoSz commented on #44
Oh Jesus Christ why am I so dumb?
**Don't** set the **Authorization callback URL** to [http://localhost/](http://localhost/) when you [Register](https://github.com/settings/developers) the application.

[2017-07-05 22:17] #44 closed

[2017-07-05 22:59] PoLaKoSz opened #45 "Repository watch button bug"
- The watch icon is not in the correct position (not in the center).
 ![watch](https://user-images.githubusercontent.com/1327533/27888321-b88706ac-61e5-11e7-9036-31c1fb0e9469.png)
- Watched people count is not show the correct number (only the frontend buggy)

[2017-07-05 23:00] PoLaKoSz commented on #45
Test comment

[2017-07-05 23:10] PoLaKoSz opened #46 "New issue button bug"
When I hover the New issue button a little rectangle appear in the background.
![new_issue](https://user-images.githubusercontent.com/1327533/27888705-c1dd0d62-61e7-11e7-97d6-a42d9580eabc.png)
If it is not a bug, maybe will be more prettier to change the button color when hovered.

[2017-07-05 23:44] PoLaKoSz opened #47 "Markdown Issue"
Markdown not converted to HTML inside a Issue.
![markdown](https://user-images.githubusercontent.com/1327533/27889404-79039598-61ec-11e7-975c-4a41523a85f8.PNG)

[2017-07-06 04:35] aalok05 commented on #47
Yup, this is an issue for UWP community toolkit, I am using their MarkdownTextblock control. This control has issues with big tables. Can you open an issue in the  UWP community toolkit repo?

[2017-07-06 04:35] #47 closed

[2017-07-06 04:36] aalok05 commented on #46
I'll do something about this.

[2017-07-06 04:38] aalok05 commented on #45
Sometimes the API returns 0 in SubscriberCount field. I'll fix the position.

[2017-07-06 05:17] PoLaKoSz commented on #45
I didn't open this issue to make you more work 😃 I just wanted to take a note about it so let me help to you.

[2017-07-06 05:22] PoLaKoSz commented on #46
Let me try first because you better than me and you don't need to spend time with this tiny little bug so you can do more important things. What do you think?

[2017-07-06 05:54] aalok05 commented on #46
Yeah sure man! And thanks for the compliment 😄

[2017-07-06 05:55] aalok05 commented on #45
Sure man go ahead 😄

[2017-07-06 10:51] brullsker opened #48 "UI issue on About page"
**On "About" page:**
"Rate" and "Star on GitHub" buttons / texts are not on the same level as "Twitter" and "E-Mail" buttons / texts
![wp_ss_20170704_0001 2](https://user-images.githubusercontent.com/22963301/27907876-a62f50ea-6249-11e7-9ba0-f3ab08a6fe96.png)

Also, the "Star on GitHub" button needs a translation.
In German, it would be "Repo favorisieren".

[2017-07-06 11:01] brullsker opened #49 "Feature request for About page"
I think it would be better if the "Star on GitHub" button takes the user to the CodeHub repo in the app but not open the browser.

[2017-07-06 11:07] aalok05 commented on #49
Good idea.

[2017-07-06 20:12] PoLaKoSz opened #51 "Repository files are not in alphabetic order"
For example:
![alphabetic](https://user-images.githubusercontent.com/1327533/27930746-9dc43e2c-624c-11e7-974e-a629807246e4.PNG)

I think I can fix this tomorrow.

[2017-07-07 03:22] #45 closed

[2017-07-07 03:22] #46 closed

[2017-07-07 03:26] aalok05 commented on #32
Hey @brullsker , the link is broken.

[2017-07-07 10:35] PoLaKoSz opened #53 "MyRepository/starred repositories count not load"
After clicking **MyRepository** menu the app
* load
  * the owned repositories
  * the owned repositories count
* not load
  * the starred repositories count
![myrepositorybug](https://user-images.githubusercontent.com/1327533/27954387-fde59aa8-630f-11e7-919b-3d8358496379.PNG)

Tomarrow I hope I can fix this.

[2017-07-07 10:45] PoLaKoSz opened #54 "When create a new PR"
I recognize I create a lot of PR but only 1-2 commits in it.
What is the best practice to avoid the lot of PR per day? Is somewhere an article about it?

[2017-07-07 11:25] aalok05 commented on #54
A PR should be concerned with only 1 feature/fix. Create a separate branch for a feature that you are working on, Name the branch 'feature_featureName', and when that feature is completed in your branch, create a PR for it.

[2017-07-07 11:39] PoLaKoSz commented on #54
Thank you so much for your fast response.
I want to be 100% sure about this so I want to ask is that means my #52 PR is not well executed because I didn't separate the 2 fixes?

[2017-07-07 11:50] aalok05 commented on #53
Actually this is designed to be so. Starred repos will only load when pPivotItem is changed. This behaviour is consistent throughout the app.

[2017-07-07 11:51] aalok05 commented on #54
Several fixes can be merged in a single PR, that's fine.

[2017-07-07 12:01] PoLaKoSz commented on #54
Thank you. I will pay attention for this.

[2017-07-07 12:01] #54 closed

[2017-07-07 12:01] PoLaKoSz commented on #53
Oh, okey.

[2017-07-07 12:01] #53 closed

[2017-07-07 12:09] aalok05 commented on #48
7c310f3a600c8a18c8c5e6b2804ffd7f6ba19786 fixes this

[2017-07-07 12:09] #48 closed

[2017-07-07 12:15] aalok05 commented on #49
2d90f2a adds this

[2017-07-07 12:15] #49 closed

[2017-07-07 12:15] #51 closed

[2017-07-07 14:19] PoLaKoSz opened #55 "Repository Watch count bug"
- [X] Not display the number of the people who watch the current repository
- [ ] After hitting the 'Watch' button UI not refresh the new count

I will try tomorrow fix these problems.

[2017-07-09 07:11] aalok05 commented on #41
#57 adds this feature.

[2017-07-09 07:11] #41 closed

[2017-07-09 11:03] Darkpingouin commented on #32
@aalok05 if you want I can take care of the french translation

[2017-07-09 15:26] aalok05 commented on #32
@Darkpingouin That would be great. Go ahead!

[2017-07-10 06:48] #55 closed

[2017-07-10 07:16] aalok05 commented on #36
1052d60f88ca7601bb342e19b3c2dac85aa6331a takes care of this.

[2017-07-10 07:16] #36 closed

[2017-07-10 10:25] Sergio0694 commented on #36
@aalok05 Great 👍
Anyways, next time you have a commit that fixes an issue, make sure to include "fixes #issuenumber" in the commit message, so that GitHub will automatically reference the issue from the commit.
See [**the guide here**](https://help.github.com/articles/closing-issues-via-commit-messages/).

[2017-07-12 15:58] aalok05 opened #59 "Developer messages"
Developer messages will also include change log for the latest update. This will be a new method of communicating with the users of CodeHub.

[2017-07-18 18:07] JMccormick264 commented on #44
@PoLaKoSz what did you change the Callback URL to? I am having this same issue and I can't figure it out.

[2017-07-18 18:19] PoLaKoSz commented on #44
@JMccormick264 Hi.
I think [that](https://github.com/aalok05/CodeHub/blob/master/CodeHub/Services/AuthService.cs#L19) is a magic string so Callback URL need to be `http://example.com/path`

[2017-07-19 05:44] aalok05 commented on #44
You can set any callback url you want in the dashboard, just make sure the same url is used [here](https://github.com/aalok05/CodeHub/blob/master/CodeHub/Services/AuthService.cs#L19)

[2017-07-19 10:14] hashhar opened #60 "Option to manage multiple accounts (Similar to how 6tag and Instagram do it)"
I would really like the option of being able to manage multiple accounts.

I can also try working on this issue myself as soon as I find some time.

[2017-07-19 16:02] aalok05 commented on #60
This would be a great addition 👍

[2017-07-19 17:17] brullsker opened #61 "App crashes when tapping on "Donate""
In the main settings page, a tap on "Donate" causes a crash and the app closes immediately.
Environment: Lumia 950 XL; Windows 10 mobile, Creators Update, no insider.

[2017-07-19 17:26] MMEnter opened #62 "Add dialog doesn't reset between clicks"
When I click the Add Button to Add an Issue, finish by clicking create and go back and then click it again it shows the last entered text.

[2017-07-19 18:40] #62 closed

[2017-07-19 18:42] aalok05 commented on #61
This is fixed here 9661c083c598e2a31d76702fe9061829005d6b61

[2017-07-19 18:42] #61 closed

[2017-07-20 20:23] brullsker opened #63 "Refresh button on all pages"
Sometimes the app refreshes not by itself, so this would be a nice feature.

[2017-07-21 00:16] brullsker opened #65 "Pull Request indicator"
... on Repository page, which shows the number of Pull Requests, just like    the Issue indicator.

[2017-07-21 08:47] brullsker opened #67 "UI improvement on Notifications page"
Nearly the same as in issue #27. Here a possible solution:
![wp_ss_20170721_0001](https://user-images.githubusercontent.com/22963301/28456194-c2447f08-6e01-11e7-8625-bb85f8ed5ef4.png)
As you can see, the Refresh button is placed like in #63, and the Mark all as read button like the New issue button on issues page.

[2017-07-21 09:25] aalok05 commented on #67
I'm thinking of moving the refresh and 'mark all as read' button to bottom of the page like a commandbar. This way we won't have to add a refresh button to HeaderPanel on the MainPage,

[2017-07-21 10:59] aalok05 commented on #65
It looks like there is no property which returns the number of open PRs in a repo. The only way is to get all open PRs and count the result, which seems too much for every repo page load. I'll have to close this for now.

[2017-07-21 10:59] #65 closed

[2017-07-26 10:53] PoLaKoSz commented on #63
Hello Guys!

If I'm not wrong, the application working from cache/RAM.
My opinion is to create an option in the settings to change this (if the app running on PC disabled, if running on mobile enabled to save data usage)!?

Maybe [this](https://gist.github.com/wagonli/40d8a31bd0d6f0dd7a5d) is helpful.

What do you think?

[2017-07-30 04:35] aalok05 commented on #35
Hey @Sergio0694 , I'm having an issue with this. On state change of Window, when I change the background of Hamburger menu to acrylic brush, there is an issue wherein the screen flickers and the host blur stops working after that. I do dispose the existing in app blur effect.

[2017-07-30 08:35] Sergio0694 commented on #35
@aalok05 Wait, why are you talking about disposing the effect manually? I thought you were using the `CustomAcrylicBrush` class. With that, you could just bind the `Mode` property to be able to switch between in-app and background blur when needed.

[2017-07-30 14:07] aalok05 commented on #35
I check the build, and for unsupported builds I use normal blur effect which needs to be disposed.

[2017-07-30 14:08] aalok05 commented on #35
Anyway the switching causes a flicker in my laptop screen that lasts a few seconds...maybe I am doing something wrong.

[2017-07-31 14:02] Sergio0694 commented on #35
Mh, I'm not sure, I'll take a look at the code when I have some time, could you link the exact line/file where you switching the effects?

[2017-08-01 06:20] aalok05 commented on #35
Here it is 31c0f3a5e6abe5b06b6f750c4887d3f0725aa2dc , I've created a separate branch for this

[2017-08-02 13:08] brullsker commented on #59
It would be nice to have access to all developer messages. Maybe in the About page.

[2017-08-02 13:19] aalok05 commented on #59
Yup, will start working on this soon,

[2017-08-03 15:27] brullsker opened #69 "UI issue in Code Browser"
When opening a folder in the code browser,the loading circle is colored in the typical "CodeHub-green":
![p5opo_20170803_17_22_31](https://user-images.githubusercontent.com/22963301/28929647-d381bf82-7870-11e7-9c2c-2c37206eddf9.jpg)
But when opening a file, it is colored in the device's accent color:
![p5opo_20170803_17_22_30](https://user-images.githubusercontent.com/22963301/28929688-f120d028-78

[2017-08-03 16:29] #69 closed

[2017-08-09 05:59] #37 closed

[2017-08-13 12:17] #35 closed

[2017-08-18 08:26] #67 closed

[2017-09-01 05:12] brullsker commented on #32
de-De
What's new -> Was ist neu?
Edit Issue -> Problem bearbeiten
Special Thanks -> Danksagungen
What's new in this version? -> Neuigkeiten in dieser Version
Check for Notifications frequently -> Regelmäßig nach neuen Benachrichtigungen suchen
Turning this on will consume more data  -> Bei Aktivierung dieser Option werden mehr Daten verbraucht
Mark all as read -> Alle als gelesen markieren

[2017-09-02 07:07] PoLaKoSz opened #73 "German"
Write a comment with the translation or commit to #72, please. Thanks 😄 🍺

## **Search**

|                | Status |
|----------------|:--:|
| All Languages |  ✅  |
| Reset |  ✅  |

## **Settings / Donate**

|                | Status |
|----------------|:--:|
| Donate to CodeHub on Patreon |  ✅  |

## **Settings / General**

|                | Status |
|----------------|:--:|
| Make any donation

[2017-09-02 07:38] brullsker commented on #73
de-DE
one second ago -> eine Sekunde zuvor
seconds ago -> Sekunden zuvor
a minute ago -> eine Minute zuvor
minutes ago -> Minuten zuvor
a day ago-> einen Tag zuvor
days ago -> Tage zuvor
one month ago -> einen Monat zuvor
months ago -> Monate zuvor
one year ago -> ein Jahr zuvor
years ago -> Jahre zuvor

[2017-09-02 08:03] PoLaKoSz commented on #73
Thank You 👍

[2017-09-02 09:47] PoLaKoSz opened #74 "Spanish"
Write a comment with the translation or make a PR after #72 is merged to the `dev` branch, please. Thanks 😄 🍺

## **Search**

|                | Status |
|----------------|:--:|
| All Languages ||
| Reset ||

## **Settings / Donate**

|                | Status |
|----------------|:--:|
| Donate to CodeHub on Patreon ||

## **Settings / General**

|                | Status |
|----------------|:--:|

[2017-09-02 09:47] PoLaKoSz opened #75 "French"
Write a comment with the translation or commit to #72, please. Thanks 😄 🍺

## **Search**

|                | Status |
|----------------|:--:|
| All Languages | ✅ |
| Reset | ✅ |

## **Settings / Donate**

|                | Status |
|----------------|:--:|
| Donate to CodeHub on Patreon | ✅ |

## **Settings / General**

|                | Status |
|----------------|:--:|
| Make any donation to ena

[2017-09-02 09:48] PoLaKoSz opened #76 "Portuguese"
Write a comment with the translation or commit to #72, please. Thanks 😄 🍺

## **Search**

|                | Status |
|----------------|:--:|
| All Languages ||
| Reset ||

## **Settings / Donate**

|                | Status |
|----------------|:--:|
| Donate to CodeHub on Patreon ||

## **Settings / General**

|                | Status |
|----------------|:--:|
| Make any donation to enable the o

[2017-09-02 09:48] PoLaKoSz opened #77 "Vietnamese"
Write a comment with the translation or make a PR after #72 is merged to the `dev` branch, please. Thanks 😄 🍺

## **Search**

|                | Status |
|----------------|:--:|
| All Languages ||
| Reset ||

## **Settings / Donate**

|                | Status |
|----------------|:--:|
| Donate to CodeHub on Patreon ||

## **Settings / General**

|                | Status |
|----------------|:--:|

[2017-09-02 09:49] PoLaKoSz opened #78 "Chinese"
Write a comment with the translation or make a PR to the `dev` branch, please. Thanks 😄 🍺

## **Search**

|                | Status |
|----------------|:--:|
| All Languages ||
| Reset ||

## **Settings / Donate**

|                | Status |
|----------------|:--:|
| Donate to CodeHub on Patreon ||

## **Settings / General**

|                | Status |
|----------------|:--:|
| Make any donation

[2017-09-02 12:13] brullsker commented on #73
Oh, yeah, sorry.
an hour ago -> eine Stunde zuvor
hours ago -> Stunden zuvor

[2017-09-02 14:47] PoLaKoSz commented on #73
Up

[2017-09-02 15:21] brullsker commented on #73
Search
All languages -> Alle.Sprachen
Reset -> Zurücksetzen

Settings / Donate
Donate to CodeHub on Patreon -> Spende an CodeHub über Patreon

Settings / General
Make any donation to enable the option to disable ads. -> Spende etwas, um die Option zur Entfernung von Werbung freizuschalten.

Settings / About

What's new in this version? -> Neuigkeiten in dieser Version
Developed by Aalok Singh -> E

[2017-09-02 15:22] PoLaKoSz commented on #73
Thank You @brullsker!

[2017-09-02 17:56] #73 closed

[2017-09-03 06:50] brullsker opened #80 "Donation status should be saved in app"
When I start the app on slow connection, the option to disable ads on general settings looks like this:
![wp_ss_20170903_0001](https://user-images.githubusercontent.com/22963301/30001127-49e1a216-9084-11e7-8705-529cf5cc667b.png)
It shouldn't, because I made a donation.
After a while, the app takes me to the Trending page, and when I get to the general settings page again, it looks like this:
![wp_

[2017-09-03 09:16] aalok05 commented on #80
I'll make it so that the app only checks online once, and then store a bool setting value.

[2017-09-03 09:25] #80 closed

[2017-09-03 17:46] brullsker opened #82 "Bug on Notifications page"
On notifications page, it isn't possible to scroll  down to the real bottom.
The last notification is covered by the "Mark all as read" and "Refresh" bar.

[2017-09-04 04:38] aalok05 commented on #82
I'm on it 👍

[2017-09-04 11:22] GitMoDu commented on #76
Search - Procura

All Languages	- Todas as línguas
Reset - Repor

Settings / Donate - Configurações / Doações

Donate to CodeHub on Patreon - Fazer uma doação para o CodeHube no Patreon
Settings / General - Configurações / Geral

Make any donation to enable the option to disable ads. - Faz uma doação para ativar a opção de desligar a publicidade.

Settings / About - Configurações / Sobre

What's n

[2017-09-04 13:57] brullsker opened #83 "New issue dialogue isn't as nice as new comment dialogue"
The new comment dialogue design is really great, but why isn't this design also at the "New Issue" or "Edit issue" dialogue?
Additional, it would be great if it's possible to include supported files into issues / comments.

[2017-09-04 15:00] PoLaKoSz commented on #76
@GitMoDu Thank You so much.

[2017-09-04 15:00] #76 closed

[2017-09-05 04:00] #82 closed

[2017-09-05 12:08] Darkpingouin commented on #75
All Languages -> Tous les langues
Reset -> Réinitialiser

Donate to CodeHub on Patreon -> Faire un don à CodeHub sur Patreon

Make any donation to enable the option to disable ads. -> Faites n'importe quel don pour activer l'option enlever les pubs

What's new in this version? -> Quoi de neuf dans cette version?
Developed by Aalok Singh -> Developpe par Aalok Singh

For the time it is a bit compli

[2017-09-05 13:29] aalok05 commented on #75
@PoLaKoSz please have a look

[2017-09-05 17:36] aalok05 commented on #83
I think this is solved with #84
File drag and drop is a new feature I'll be working on soon.

[2017-09-05 17:36] #83 closed

[2017-09-06 20:53] PoLaKoSz commented on #75
@Darkpingouin Is there a way to put the number in front of the words?
like
`10` minutes ago?
Or in french there is no ways for this? 😢

[2017-09-07 03:35] aalok05 commented on #75
Now that's a problem

[2017-09-07 03:45] aalok05 commented on #75
Let's remove the 'ago' part then.

one second -> une seconde
seconds -> seconds
a minute -> une minute
minutes  -> minutes
an hour ->  une heure
hours  -> heures
a day -> un jour
days -> jours
one month -> un mois
months ->  mois
one year -> un an
years -> ans

How about this @Darkpingouin  and @PoLaKoSz ?

[2017-09-07 05:17] Darkpingouin commented on #75
@PoLaKoSz I am afraid there is no other way to translate it in french.
@aalok05 I would just let the English sentences then because like that it doesn't make sense to me I don't know what you think.

[2017-09-07 05:50] PoLaKoSz commented on #75
No problem I saw a few days ago an another solution when a variable (in this case a number) can be inside a localized sentence.
But nowadays I don't have too much time maybe I can code it in this weekend.

[2017-09-07 07:42] aalok05 commented on #75
ok so let it be in english then.

[2017-09-07 07:43] aalok05 commented on #75
@PoLaKoSz let's leave in it english for now, later when you have time maybe you can implement your solution, but for now its fine.

[2017-09-08 19:00] justadaniel opened #85 "[Question/Feature Request] URL Schemes?"
Hi,

I was wondering if there were any URL schemes for CodeHub? I like to change the URL's in edge to have them open the apps I have installed instead.

[2017-09-09 03:12] aalok05 commented on #85
So this can be done where if you visit a repo in your browser, you can open the repo in CodeHub, and so on. I haven't implemented this but it's a good idea.

https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-default-app
https://docs.microsoft.com/en-us/windows/uwp/launch-resume/handle-uri-activation

[2017-09-09 07:50] #75 closed

[2017-09-15 04:49] aalok05 commented on #85
It turns out, to launch repo view in CodeHub when someone navigates to a github repository in edge, I need to own the github website. Other than that there is no custom uri for CodeHub and I cannot think of any use case for it.

[2017-09-15 04:51] aalok05 commented on #30
I think PR #72 somewhat takes care of this.

[2017-09-15 04:51] #30 closed

[2017-09-15 04:57] justadaniel commented on #85
Really? When I worked on iOS apps, we would just create a custom url scheme that replaces `https://` with `appname://` and parse the url to do what we want. So `codehub://github.com/<author>/<reponame>` or you could even remove the `github.com/` all together. Then that would take you to the repo.

[2017-09-15 08:08] aalok05 commented on #85
ok got it. This can be done. I'm on it.

[2017-09-15 08:20] aalok05 commented on #85
#87 Here you go.

[2017-09-15 08:21] aalok05 commented on #85
I'll update readme for this feature when it is complete

[2017-09-15 08:22] justadaniel commented on #85
Alright awesome, thanks!

[2017-09-17 09:31] aalok05 commented on #85
This feature has been merged in `dev` branch.
Examples:

- _codehub://repository/aalok05/codehub_
- _codehub://user/aalok05_

[2017-09-17 09:31] #85 closed

[2017-09-23 05:49] madcated commented on #78
Hi, can I work on this?

[2017-09-23 09:04] PoLaKoSz commented on #78
Of course.

[2017-09-25 02:56] #78 closed

[2017-10-29 01:46] sylveon opened #93 "No colors on diff viewer"
![image](https://user-images.githubusercontent.com/6440374/32140047-77f0d2aa-bc29-11e7-9796-15d101e795e9.png)

[2017-10-29 09:01] Sergio0694 commented on #93
@aalok05 Since that's basically a chunk of source code anyways, can't you just use the same API we're already using to get the syntax highlight HTML to display when opening a code file?

[2017-10-30 02:45] aalok05 commented on #93
That's a good idea, however some logic has to be written to show color the lines starting with + or -

[2017-10-30 02:48] sylveon commented on #93
Isn't it just possible to use the `diff` syntax highlighting scheme?
Eg:
[code]

[2017-10-30 05:38] aalok05 commented on #93
@sylveon  This scheme is not yet supported in MarkdownTextblock of UWP community toolkit, which is what we are using. I'll have to create a custom control for this.

[2017-11-02 05:39] aalok05 commented on #60
PR #94 adds this functionality

[2017-11-02 05:39] #60 closed

[2017-11-10 08:22] aalok05 commented on #77
There are a lot of untranslated strings now, it's hard to keep track so I'll leave it up to translators who wish to dig into the resource files. I'll close this for now.

[2017-11-10 08:22] #77 closed

[2017-11-10 08:23] aalok05 commented on #74
There are a lot of untranslated strings now, it's hard to keep track so I'll leave it up to translators who wish to dig into the resource files. I'll close this for now.

[2017-11-10 08:23] #74 closed

[2017-11-10 08:23] aalok05 commented on #32
There are a lot of untranslated strings now, it's hard to keep track so I'll leave it up to translators who wish to dig into the resource files. I'll close this for now.

[2017-11-10 08:23] #32 closed

[2017-11-12 06:15] #39 closed

[2017-11-20 23:03] ocdtrekkie opened #96 "2.4.3.0 crashes on launch"
Device: HP Elite x3 Verizon
OS: 1709 Build 15254.12

[2017-11-21 02:46] aalok05 commented on #96
I've rolled back store version to 2.4.2 for now. I am investigating this.

[2017-11-26 10:34] aalok05 commented on #96
This should be fixed in v 2.4.4. It was an issue where a ThemeResource was not found on builds earlier than FCU.

[2017-11-26 10:34] #96 closed

[2018-02-28 18:44] pprathameshmore opened #98 "Add notification support"
## I'm submitting a...

[code]

## Current behavior

There is no any notification support from forked repo or comment mention

## Expected behavior

Add notification support

## Steps to reproduce the behavior

## Environment

[2018-03-03 13:12] aalok05 commented on #98
That's a much needed feature 👍

[2018-03-05 12:23] aalok05 commented on #28
@PoLaKoSz nope.

[2018-03-06 09:29] PoLaKoSz commented on #28
@aalok05 Where sould I put this option inside the Settings? `Appearance`?
Is it enough if the changes made effect after the application restart?

[2018-03-07 05:24] aalok05 commented on #28
@PoLaKoSz I think General settings would be a good place for language options, and yes it is fine if changes take place after app restart.

[2018-03-09 06:40] aalok05 commented on #28
PR #99 adds this feature.

[2018-03-09 06:40] #28 closed

[2018-04-04 10:47] heartacker opened #100 "please add fluent design acrylic"
thx

[2018-04-29 02:06] boswelja opened #103 "Green accents everywhere"
Why is half the app green when my Windows accent is purple?

[2018-05-03 04:54] aalok05 commented on #103
Good one 👍

[2018-09-15 07:24] rafsanulhasan opened #106 "Notification View does not work correctly"
## I'm submitting a...

[code]

## Current behavior
Clicking on a notification from the notification list shows **Readme.md** of that repo

## Expected behavior
It should show a specific issue or PR

## Steps to reproduce the behavior
Whenever new notification(s) arrive, click on the notifications icon and then click on any notification from the list.

## Environment
Windows 10 Fall update

[2018-09-15 17:57] rafsanulhasan commented on #106
Fixed in #108

[2018-09-17 06:00] aalok05 commented on #106
Merged.

[2018-09-17 06:00] #106 closed

[2018-09-17 19:47] rafsanulhasan opened #112 "Feature request for Toast Notification and Bangla Language"
## I'm submitting a...

[code]

## Current behavior
* There is no Toast notification feature
* Bangla language not available

## Expected Behavior
* As soon as the app get opened, check if there is any unread notifications. If any, show it to the toast. As soon as new notification arrives, show it to the toast.
* Add Bangla language to the list and added translations

## Details
I have done these

[2018-09-18 18:33] rafsanulhasan opened #113 "Some Suggestions"
## I'm submitting a...

[code]

## Problems
*	Every time a developer forks and make commits and creates PR, they need create their own GitHubApp before proceeding to run the project.
*	If I have this app installed in my PC through Store, I can no longer run the project without uninstalling the store version.
*	A UWP app project in VS needs to have a Self-Signed certificate (**CodeHub_TemporaryKey.

[2018-09-20 10:04] rafsanulhasan commented on #100
@heartacker would you please explain acrylic? What is you requirement actually?

[2018-09-22 01:32] rafsanulhasan opened #116 "Please setup pull bot for this repo"
## I'm submitting a...

[code]

## Current behavior
No pull

## Expected behavior
Please configure [pull bot](https://github.com/wei/pull) so that we, contributors, can automatically merge from from upstream

## Steps to reproduce the behavior

## Environment

[2018-09-24 06:40] #113 closed

[2018-09-26 06:07] aalok05 commented on #116
Not sure if we really need this right now. So closing it.

[2018-09-26 06:07] #116 closed

[2018-09-27 01:53] rafsanulhasan commented on #116
It's up to you. But IMHO we need this because when you make any commit to master (which is default) branch, its been automatically merged by pull bot for my forked repo. It's so helpful. If any developer wants to merge changes in the dev branch also, they can do it using this pull bot. It'll help devs who are working in dev branch can have the changes merged into the branch automatically when anyo

[2018-10-02 00:27] rafsanulhasan opened #119 "Feeds View bug"
## I'm submitting a...

[code]

## Current behavior
clicking on feeds view does not open correct page

## Expected behavior
clicking on feeds view opens correct page

## Steps to reproduce the behavior

## Environment

[2018-10-05 11:23] rafsanulhasan opened #122 "Background task not working"
## I'm submitting a...

[code]

## Current behavior
- the notifications page is not being updated in the  background
- toast notifications is not being updated in the background

## Expected behavior
- the notifications page should be updated in the  background
- toast notifications should be updated in the background

## Steps to reproduce the behavior
1. open the app. go to notifications page an

[2018-10-08 01:12] rafsanulhasan opened #123 "App should run at windows startup"
## I'm submitting a...

[code]

## Current behavior

## Expected behavior
App should run at windows startup

## Steps to reproduce the behavior

## Environment

[2018-10-08 06:07] aalok05 commented on #123
I think this should be an option in settings, if at all people want this.

[2018-10-08 11:28] rafsanulhasan commented on #123
Actually in my view, it seems that it is a needed feature for background tasks to show notification, otherwise it might not be needed

[2018-10-12 13:44] rafsanulhasan opened #125 "Background tasks not working when the app is closed"
## I'm submitting a...

[code]

## Current behavior
When the app is opened, deactivated (not in focus), or minimized all background tasks works as expected

## Expected behavior
When the app is closed all background tasks works as expected

## Steps to reproduce the behavior
1. Open the app and navigate to notifications page
2. Keep the app opened.
3. Login to GitHub
4. Wait for the toasts to arri

[2018-10-12 13:47] rafsanulhasan opened #126 "Bug in tile updates"
## I'm submitting a...

[code]

## Current behavior
Tiles only shows an update

## Expected behavior
Tiles should be updated periodically with new notifications

## Steps to reproduce the behavior

## Environment

[2018-10-12 13:58] rafsanulhasan opened #127 "Manually trigger background tasks"
## I'm submitting a...

[code]

## Current behavior
The developer don't have the ability to trigger background tasks manually

## Expected behavior
The developer should have the ability to trigger background tasks manually. Triggering Background Tasks + async tasks instead of just async tasks would enable downloading a lot of data in background and give the result in foreground when it is complete

[2018-10-12 14:11] rafsanulhasan opened #128 "Bug in showing notifications list ordering"
## I'm submitting a...

[code]

## Current behavior
Order notifications by update date in ascending order

## Expected behavior
Order notifications by update date in desscending order

## Steps to reproduce the behavior

## Environment

[2018-10-13 10:05] rafsanulhasan commented on #122
fixed

[2018-10-14 04:56] aalok05 commented on #123
If you are working on this, I'll merge your branch into a feature branch and keep it for future release.

[2018-10-14 05:08] rafsanulhasan commented on #123
Yes, I'm working on this, but did not created a pull request for it yet.

[2018-10-15 12:44] rafsanulhasan opened #129 "Bug in Toast Notificaiton"
## I'm submitting a...

[code]

## Current behavior
- always shows toast notification regardless of settings
- after syncing or clicking on **Mark as read** button an the toast shows all notifications

## Expected behavior
- should shows toast notifications based on settings
- after syncing or clicking on **Mark as read** button an the toast show show unread notifications

## Steps to reproduce th

[2018-10-18 08:37] rafsanulhasan opened #131 "bug in Notification settings view"
## I'm submitting a...

[code]

## Current behavior
when the tiles in enabled from disabled state, the other controls are not shown automatically

## Expected behavior
when the tiles in enabled from disabled state, the other controls shown be shown interactively

## Steps to reproduce the behavior

## Environment

[2018-11-07 09:42] Zrincet opened #132 "Cannot login github account"
![tim 20181107174109](https://user-images.githubusercontent.com/11169330/48123225-569e3680-e2b4-11e8-8402-16ad394acd73.png)
Authorize button is disabled.

[2018-11-12 04:41] aalok05 commented on #132
Hmmmm wierd.

[2018-11-14 10:35] rafsanulhasan commented on #132
Hi @aalok05,
I think the changed app Id and key in app config is causing the problem since you have changed it in the dev branch. While deployment to have to change it back to original one. Though in my PC, its working without any issues

[2018-11-14 10:52] aalok05 commented on #132
@Zrincet  Is this screenshot from the store app? Or are you running the solution locally?

[2018-11-15 13:16] KaziFarhanuddin commented on #132
same issue

[2018-11-17 15:49] redblue9771 commented on #132
same issue + 1

windows 1809 and above

[2018-11-21 12:41] Zrincet commented on #132
@aalok05 App downloaded in the Microsoft Store，and the version of windows10 is 1809.

[2018-11-23 06:42] aalok05 commented on #132
Ok, working on this.

[2018-11-24 23:04] rafsanulhasan commented on #132
@aalok05, I am facing the same issue too after revoking permission from GitHub OAuth App. It might be solved by updating the Windows UWP SDK itself from the NuGet.

I found another issue related to it maybe, it is showing a warning that Internet Explorer (IE) is no longer supported. This happened because when you are calling WebAuthenticationBroker from the AuthService, it might be getting/using I

[2018-11-26 06:05] aalok05 commented on #132
I think the two issues are related. JS is not enabled in the webview.
https://stackoverflow.com/questions/44425233/why-is-the-github-authorization-button-in-the-oauth-flow-grayed-out

[2018-11-26 06:07] aalok05 commented on #132
I'll update the UWP SDK and if this works, I'll submit to store ASAP. Thanks for your patience.

[2018-11-29 03:55] aalok05 commented on #132
https://social.msdn.microsoft.com/Forums/en-US/ff3631c1-9264-47d7-9906-107a0614cdd7/uwp-how-to-set-webauthenticationbroker-to-use-edge-instead-of-ie?forum=wpdevelop

[2018-11-29 05:46] rafsanulhasan commented on #132
custom flow for OAuth is always the best solution for any mobile/web/desktop app. I wish GitHub would have supported OpedID Connect along with OAuth.

[2018-11-29 05:52] rafsanulhasan commented on #132
@aalok05 I think instead of implicit flow you should use hybrid flow for better security

[2018-11-29 06:07] #122 closed

[2018-11-29 06:08] aalok05 commented on #126
What's the status of this? @rafsanulhasan

[2018-11-29 06:15] aalok05 opened #133 "Toast notification has 'Object reference not set to instance of an object'"
## I'm submitting a...

[code]

## Current behavior
When I open the app, I get toast notification that has the string 'Object reference not set to instance of an object'.

## Expected behavior
Toast notification should not be shown in case of null errors. Null checking should be done.

## Steps to reproduce the behavior
Open the app. Let the magic happen.

## Environment
Build 17134.407

[2018-11-29 06:15] aalok05 commented on #133
@rafsanulhasan Can you have a look at this?

[2018-12-20 21:10] rafsanulhasan commented on #132
Microsoft is making Edge a Chromium based Browser and going to bring it into UWP. I hope it's gonna work then...

[2019-02-02 13:54] duxingzhe commented on #132
Please update your UWP app. I can't use it completely now. That's trouble experience. I want to use UWP to view Github.com instead of the web. Please update it as soon as possible.

[2019-04-05 13:54] aberus commented on #132
This could resolve this issue
https://peterfoot.net/2019/03/13/webauthenticationbroker-and-github/
https://github.com/inthehand/Authful

[2019-04-05 14:57] aalok05 commented on #132
@aberus Thanks, will have a look.

[2019-04-05 15:13] aalok05 commented on #132
@aberus This is awesome. It’s exactly what we need.

[2019-04-17 07:06] aalok05 commented on #133
Removed the part where all unhandled exceptions would trigger a toast notification.

[2019-04-17 07:06] #133 closed

[2019-04-17 07:08] #132 closed

[2019-04-17 07:15] #129 closed

[2019-05-08 08:51] #119 closed

[2019-05-08 08:51] #123 closed

[2019-05-08 08:51] #127 closed

[2019-05-08 08:51] #128 closed

[2019-11-14 04:43] yuezhenglingluan opened #134 "Can't authorize the app"
## I'm submitting a...

[code]

## Current behavior
can't tap the Authorize button to authorize codehub to github

## Expected behavior
I should be able to authorize the app and get into codehub

## Steps to reproduce the behavior
login to your account

## Environment
tested on 19023 and 15254

[2019-11-28 01:00] nerocui commented on #134
It seems like GitHub is no longer supporting IE. OAuth in most UWP is powered by WebAuthenticationBroker which only use IE. So... Oh and Microsoft said that they have to plan to change that. OAuth is basically broken on all UWP. Unless you do it manually.

Here is the official Q&A
https://social.msdn.microsoft.com/Forums/SECURITY/en-US/ff3631c1-9264-47d7-9906-107a0614cdd7/uwp-how-to-set-webauthent

[2019-11-28 01:46] yuezhenglingluan commented on #134
Okay thanks, so how can I do this manually?

[2019-11-28 02:05] nerocui commented on #134
If you are an end user, there is nothing you can do about this specific app. But this app's source code already get's around IE by implementing it's own Auth Broker with the EdgeAuth class library. I think it's just not yet in the store version.

[2020-06-09 11:54] FJduFou opened #135 "Improve the logo"
## I'm submitting a new logo

[code]

## Context:
I am a person who pays great attention to the graphic side, and when I saw the logo, I asked myself: why a flame?
After a little visual research, oops, it's an already existing logo elsewhere (thanks Bing) ...
![image](https://user-images.githubusercontent.com/46401854/84143947-b98b1d00-aa57-11ea-8505-20bd20dbe06a.png)

## The result:
So I created

[2020-06-12 19:05] FJduFou commented on #135
If you don't would the dark/light problem:
![image](https://user-images.githubusercontent.com/46401854/84537573-54058d80-acf0-11ea-9e32-a7d7304f2e94.png)

[2020-08-10 06:27] aalok05 commented on #135
This is great work @FJduFou !
I will include this logo when I start working on CodeHub again.

[2020-08-10 12:03] FJduFou commented on #135
amazing^^

[2021-01-12 05:18] prakharb5 opened #136 "How can I get the app?"
## I'm submitting a...

[code]

How can I get the app from the MS Store? I used the Get from MS store link, but it asked for a code to be redeemed.

[2021-01-12 07:12] aalok05 commented on #136
I have removed the app from MS store, as it is no longer actively being developed.

[2021-01-12 07:35] prakharb5 commented on #136
Oh, ok.
Where can I get the last build for the app? Do I have to build myself?

[2021-01-12 07:45] aalok05 commented on #136
Yes @Cyberdroid1, building yourself would be the best option.

[2021-01-12 08:21] prakharb5 commented on #136
Alright, thanks for letting me know!

[2022-01-04 13:37] 0x5bfa opened #137 "You should not upload app secret"
**Desctiption**

You, owner @aalok05 , has uploaded your app key and app secret.
Most open source apps that use app secret add this to .gitignore(or dont stage this) and encourage users who cloned the repo including this to add it themselves like [this app (youtube api)](https://github.com/youtube/api-samples/blob/master/dotnet/client_secrets.json) or [this app (github api)](https://github.com/tna